<div id="discourse-comments">
  <h3>Discussion</h3>
  <div id='discourse-comments-container'>
    <script type="text/javascript">
      DiscourseEmbed = {
        discourseUrl: '{{ discourse_url }}/',
        topicId: '{{ topic_id }}',
        discourseEmbedUrl: window.location.href
      };
      
  window.DiscourseEmbed = {
    discourseUrl: '{{ discourse_url }}/',
    topicId: '{{ topic_id }}',
  };
  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = window.DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
  </div>
</div>
